*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #FF9A4B;
}


main{
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;

}

.main-box{
 width: 300px;
 background-color: #EEEEEE;
 padding: 10px;
  position: relative;
}

.main-visual-1{
  height: 150px;
 background-image: url(img/flow01.png);
 background-size: cover;
 background-position: bottom;
}

.main-visual-2{
 height: 150px;
 background-image: url(img/flow02.png);
 background-size: cover;
 background-position: bottom;
}

.main-visual-3{
  height: 150px;
 background-image: url(img/flow03.png);
 background-size: cover;
 background-position: bottom;
}

.main-visual-nnumber{

  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
}

h3{
  margin: 15px 0px 5px 0px;
}

footer{
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 425px) {


  header{
    width: 100%;
  }

  main{
    width: 90%;
    display: block;
    margin: 50px auto;

  }

  .main-box{
    width: 100%;
    margin-bottom: 20px;
  }

  footer{
    width: 100%;
  }

}

@media screen and (max-width: 768px) {


  header{
    width: 100%;
  }

  main{
    width: 90%;
    display: block;
    margin: 50px auto;

  }

  .main-box{
    width: 100%;
    margin-bottom: 20px;
  }

  footer{
    width: 100%;
  }

}



















